@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-card {
    background-color: transparent;
    width: 539px;
    height: 667px;
    margin-top: 10px;
    margin-bottom: 10px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  .flip-cardm {
    background-color: transparent;
    width: 250px;
    height: 312px;
    margin-top: 10px;
    margin-bottom: 10px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover  .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-cardm:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  
  /* Style the front side (fallback if image is missing) */
  
  
  /* Style the back side */
  .flip-card-back {
    
    transform: rotateY(180deg);
  }
  

  .marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 120px;
    overflow-x: hidden;
    font-size: 100px;
  }
  
  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 15s linear infinite;
  }

  .track2 {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee2 15s linear infinite;
  }
  
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

  @keyframes marquee2 {
    from { transform: translateX(-50%); }
    to { transform: translateX(0%); }
  }
  
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .hover-underline-animation2:after {
    content: '';
    position: absolute;
    width: 60%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  
  .hover-underline-animation2:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .hover-underline-animation3:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  
  .hover-underline-animation3:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .bgmain {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }